.fotos-container {
  position: absolute;
  right: 50%;
  top: 22rem;
  display: flex;
  width: 0%;
  justify-content: space-evenly;
  margin: 0 auto 4rem;
}

.enlace-red-social {
  position: absolute;
  top: -40px;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(220, 228, 228, 0.452);
  border-radius: 4rem;
}

.img-red-social {
  width: 10rem;
  height: 8rem;
  filter: grayscale(100%);
  margin: 6rem auto;
}

#Linkedin {
  background-color: rgba(255, 235, 205, 0.349);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  animation-duration: 2s;
  animation: logosLi 1s ease;
  top: 25rem;
  left: -100px;
  transition: transform 0.6s;

  &:hover {
    background-color: rgba(240, 248, 255, 0.788);
    filter: none;
    transform: rotateY(360deg);
  }
}

@keyframes logosLi {
  0% {
    top: -40px;
    left: 0px;
  }
  100% {
    top: 25rem;
    left: -100px;
  }
}

#github {
  background-color: rgba(255, 235, 205, 0.349);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  animation-duration: 2s;
  animation: logosGi 1s ease;
  top: 120px;
  left: -100px;
  transition: transform 0.6s;

  &:hover {
    background-color: rgba(240, 248, 255, 0.788);
    filter: none;
    transform: rotateY(360deg);
  }
}

@keyframes logosGi {
  0% {
    top: -40px;
    left: 0px;
  }
  100% {
    top: 120px;
    left: -100px;
  }
}

#whatsapp {
  background-color: rgba(255, 235, 205, 0.349);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  animation-duration: 2s;
  animation: logosWh 1s ease;
  top: 120px;
  left: 100px;
  transition: transform 0.6s;

  &:hover {
    background-color: rgba(240, 248, 255, 0.788);
    filter: none;
    transform: rotateY(360deg);
  }
}

@keyframes logosWh {
  0% {
    top: -40px;
    left: 0px;
  }
  100% {
    top: 120px;
    left: 100px;
  }
}

#gmail {
  background-color: rgba(255, 235, 205, 0.349);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  animation-duration: 2s;
  animation: logosGm 1s ease;
  top: 25rem;
  left: 10rem;
  transition: transform 0.6s;

  &:hover {
    background-color: rgba(240, 248, 255, 0.788);
    filter: none;
    transform: rotateY(360deg);
  }
}

@keyframes logosGm {
  0% {
    top: -40px;
    left: 0px;
  }
  100% {
    top: 25rem;
    left: 10rem;
  }
}

@media screen and (min-width: 600px) {
  .fotos-container {
    top: 35rem;
  }
}

@media screen and (min-width: 1000px) {
  .fotos-container {
    top: 38rem;
  }

  .img-red-social {
    margin: 4rem auto;
  }

  #Linkedin {
    top: 120px;
    left: -400px;
    transition: transform 0.6s;

    &:hover {
      background-color: rgba(240, 248, 255, 0.788);
      filter: none;
      transform: rotateY(360deg);
    }
  }
  @keyframes logosLi {
    0% {
      top: -40px;
      left: 0px;
    }
    100% {
      top: 120px;
      left: -400px;
    }
  }

  #github {
    top: 120px;
    left: -150px;

    &:hover {
      background-color: rgba(240, 248, 255, 0.788);
      filter: none;
      transform: rotateY(360deg);
    }
  }

  @keyframes logosGi {
    0% {
      top: -40px;
      left: 0px;
    }
    100% {
      top: 120px;
      left: -150px;
    }
  }

  #whatsapp {
    top: 120px;
    left: 150px;
    transition: transform 0.6s;

    &:hover {
      background-color: rgba(240, 248, 255, 0.788);
      filter: none;
      transform: rotateY(360deg);
    }
  }

  @keyframes logosWh {
    0% {
      top: -40px;
      left: 0px;
    }
    100% {
      top: 120px;
      left: 150px;
    }
  }

  #gmail {
    top: 120px;
    left: 400px;
    transition: transform 0.6s;

    &:hover {
      background-color: rgba(240, 248, 255, 0.788);
      filter: none;
      transform: rotateY(360deg);
    }
  }

  @keyframes logosGm {
    0% {
      top: -40px;
      left: 0px;
    }
    100% {
      top: 120px;
      left: 400px;
    }
  }
}
