.top {
  margin-top: 0px;
}

.container-error {
  margin: 80px auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost {
  margin-top: 50px;
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #ededed;
  border: 1px solid;
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy {
  margin-top: 50px;
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #ededed;
  border: 1px solid #bfc0c0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}

.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}
.eye,
.eye-right {
  position: absolute;
  background: #585959;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}
.eye-right {
  right: 25%;
}

.mouth {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.one,
.two,
.three,
.four {
  position: absolute;
  background: #ededed;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid grey;
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow {
  margin-top: 70px;
  position: absolute;
  width: 30%;
  height: 7%;
  background: #bfc0c065;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  50% {
    transform: translateY(15px);
  }
}

.bottom {
  margin: 1rem auto 7.2rem;
}

.h1-error {
  color: #ededed;
  text-align: center;
  font-size: 9em;
  margin: 20px 0;
  text-shadow: -1px 0 #bfc0c0, 0 1px #bfc0c0, 1px 0 #bfc0c0, 0 -1px #bfc0c0;
}
.h3-error {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #bfc0c0;
  margin-top: -20px;
  font-weight: 900;
}
.p-error {
  text-align: center;
  color: #b0b4b4f1;
  font-size: 1.8rem;
  margin-top: 2px;
  text-transform: uppercase;
}

.p-error_info {
  color: rgb(255, 33, 33);
  margin-top: 2rem;
  font-size: 2rem;
}
